* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

body {
  min-width: 800px;
}

/* colors */
:root {
  --header-bg: #009688;
  --main-bg: #DCDBD2;
  --notifications: #8EDAFC;
  --header-box: #EAEAEA;
  --footer-box: #F3EEEA;
  --main-white: #FAFAFA;
  --second-white: #FFFFFF;
  --hoover-color: #E9EBEB;
  --userchat: #D5F9BA;
}

/* general layout */
div.header {
  width: 100%;
  height: 15vh;
  background-color: var(--header-bg);
}

main {
  background-color: var(--main-bg);
  height: 100vh;
}

p.title {
  font-size: 0.8em;
  font-weight: bold;
}

p.subtitle {
  font-size: 0.7em;
  color: gray;
}

/* box app layout */

div.box {
  min-width: 800px;
  width: 80%;
  height: 90%;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

div.left-column {
  width: 35%;
  height: 100%;
  background-color: var(--main-white);
}

div.right-column {
  width: 65%;
  height: 100%;
}

ul {
  list-style: none;
}

/* left column header*/
div.header-left {
  height: 45px;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-box);
  border-right: 0.1em solid lightgray;
}

div.header-left > div {
  display: flex;
  align-items: center;
}

div.header-left img {
  width: 30px;
  border-radius: 4em;
  margin: 0.3em;
}

div.icons i {
  margin: 0.5em;
  color: gray;
  cursor: pointer;
}

/* left column notifications */
div.notifications {
  background-color: var(--notifications);
  padding: 0.5em;
  display: flex;
  height: 50px;
}
div.notifications i {
  background-color: white;
  color: var(--notifications);
  /* font-size: 2em; */
  border-radius: 50%;
  padding: 0.5em;
  margin-right: 0.5em;
}

div.notifications div.text p.subtitle {
  text-decoration: underline;
  cursor: pointer;
}

/* left column input */
div.input {
  background-color: var(--main-white);
  padding: 0.3em 0;
  height: 30px;
}
div.input div.input-box{
  width: 95%;
  margin: 0 auto;
  /* border: 0.5px solid lightgray; */
  background-color: var(--second-white);
  display: flex;
  align-items: center;
  padding: 0.3em 1em;
}

div.input-box i {
  color: gray;
  font-size: 0.8em;
  margin-right: 1.5em;
  cursor: pointer;
}
div.input-box input {
  width: 100%;
  border: none;
  font-size: 0.7em;
  outline: none;
}

/* left cards */
div.main-cards {
  width: 100%;
  height: calc(100% - 125px);
  background-color: var(--second-white);
  overflow-y: scroll;
}

div.main-cards li {
  display: flex;
  height: 50px;
}

div.main-cards img {
  width: 30px;
  border-radius: 4em;
  margin: 0.3em 0.8em;
}

div.img-name-card{
  padding-bottom: 0.4em;
  display: flex;
}

div.text-card {
  padding-top: 0.3em;
}

div.date {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 0.6em;
  padding: 0.3em 0.3em 0 0;
  color: gray;
}
/* hoovver effect */
.main-cards li:hover,
.main-cards li:focus,
.main-cards li:root {
  cursor: pointer;
  background-color: var(--hoover-color);
}

/* click effect */
.clicked {
  background-color: var(--hoover-color);
}

/* right column header */
div.right-column div.header-right {
  height: 45px;
  background-color: var(--header-box);
  padding: 0.43em;
  display: flex;
  justify-content: space-between;
}
div.img-text-right {
  width: 100%;
}

div.img-text-right {
  display: flex;
}

div.header-right img {
  width: 30px;
  border-radius: 4em;
  margin-right: 0.9em;
}

div.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.header-right div.icons {
  display: flex;
}

/* right column main */
div.right-main {
  height: calc(100% - 90px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

div.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em 3.5em 0 3.5em;
}

p.mex {
  font-size: 0.7em;
}
p.date {
  margin-top: 0.5em;
  font-size: 0.5em;
  text-align: end;
  color: gray;
}

.chatted {
  position: relative;
  padding: 0.8em 0.5em 0.5em 0.5em;
  border-radius: 10px;
  width: 37%;
  background-color: white;
  margin-top: 1em;
}
div.bot-chat {
  background-color: white;
}

div.user-chat {
  align-self: flex-end;
  background-color: var(--userchat);
}

div.chatted > i {
  position: absolute;
  top: 11px;
  right: 11px;
  color: gray;
  cursor: pointer;
}


#dropdown_content {
  position: absolute;
  top: 24px;
  right: 16px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  display: none;
}

#dropdown_content a {
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

div.chatted > div#dropdown_content .hide {
  display: block;
}


/* right column footer */
div.right-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: var(--footer-box);
}

div.right-footer i {
  text-align: center;
  width: 10%;
  color: gray;
}

div.right-footer input {
  width: calc(100% - 20%);
  height: 33px;
  border: 0;
  outline-color: lightblue;
  padding-left: 1em;
  font-size: 0.8em;
}

