* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* colors */
:root {
  --header-bg: #009688;
  --main-bg: #DCDBD2;
  --notifications: #8EDAFC;
  --header-box: #EAEAEA;
  --footer-box: #F3EEEA;
}

/* general layout */
header {
  width: 100%;
  height: 15vh;
  background-color: var(--header-bg);
}

main {
  background-color: var(--main-bg);
  height: calc(100vh - 15vh);
}

p.title {
  font-size: 0.8em;
  font-weight: bold;
}

p.subtitle {
  font-size: 0.7em;
  color: gray;
}

/* box app layout */
div.box {
  width: 80%;
  height: 95vh;
  margin: 0 auto;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

div.left-column {
  width: 35%;
  height: 100%;
  background-color: yellow;
}

div.right-column {
  width: 65%;
  height: 100%;
  background-color: orange;
}

/* left column header*/
div.header-left {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-box);
}

div.header-left > div {
  display: flex;
  align-items: center;
}

div.header-left img {
  width: 15%;
  border-radius: 4em;
  margin-bottom: 0.5em;
}

div.icons i {
  margin: 0.5em;
  color: gray;
}

/* left column notifications */
div.notifications {
  background-color: var(--notifications);
  padding: 0.5em;
  display: flex;
}
div.notifications i {
  background-color: white;
  color: var(--notifications);
  /* font-size: 2em; */
  border-radius: 50%;
  padding: 0.5em;
  margin-right: 0.5em;
}

div.notifications div.text p.subtitle {
  text-decoration: underline;
}

/* left column input */
div.input {
  background-color: #FAFAFA;
  padding: 0.3em 0;
}
div.input div.input-box{
  width: 95%;
  margin: 0 auto;
  /* border: 0.5px solid lightgray; */
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0.3em 1em;
}

div.input-box i {
  color: gray;
  font-size: 0.8em;
  margin-right: 1.5em;
}
div.input-box input {
  width: 100%;
  border: none;
  font-size: 0.7em;
}